/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* Nunito */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variablen */
:root {
  --accent1: #35b36c;
  --accent2: #7dd9d2;
  --accent3: #3ec69b;
  --accent4: #62d076;
  --accent5: #5ecd56;
  --light: #FFFFFF;
  --grey: #656565;
  --dark: #000000;
  --background: #F5F5F5;
  --ff-header: 'Roboto', sans-serif;
  --ff-body: 'Nunito', sans-serif;
  --fw-bold: 700;
  --fw-normal: 500;
  --fw-light: 300;
}

/*  Styling der Tags  */
h1,h2,h3,h4,h5,h6 {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  font-weight: bold;
}
p,span,i,a,ul,li,ol,strong {
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  width: fit-content;
  color: var(--dark);
}
strong {
  font-weight: var(--fw-bold);
}
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
button[disabled]:hover {
  animation: shake 0.2s;
}
input:is([type="text"], [type="number"], [type="password"], [type="date"]), textarea, select, option {
  font-weight: var(--fw-bold);
  width: 15rem;
  background-color: var(--light);
  border: 2px solid black;
  font-family: var(--ff-body);
  border-radius: 10px;
  padding: .5rem 1rem;
  transition: 0.2s;
}
:is(input, textarea, select, option):focus {
  outline: none;
}
table {
  border-collapse: collapse;
  font-family: var(--ff-body);
  margin-bottom: 1rem;
  width: 50%;
  min-width: 35rem;
  border: 2px solid var(--accent1);
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #4CAF50;
  color: white;
  font-family: var(--ff-header);
}
tr:hover, tr:nth-child(even):hover {
  background-color: var(--accent3)
}
nav {
  gap: 1rem;
  display: flex;
}
header {
  background-color: var(--accent1);
  color: var(--light);
  height: 3rem;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
footer {
  background-color: var(--accent1);
  color: var(--grey);
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/*  Länder Auswahl  */
.land:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
  border: 1px solid black;
  border-radius: 10px;
}
.land {
  position: relative;
}
.land p {
  display: none;
}
.land:hover p {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: block;
}
.land-box {
  display: grid;
  margin-bottom: 2rem;
  width: 30rem;
  gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}

/* Sonstiges */
.land-select
{
  position: absolute;

}
.icon {
  width: 1rem;
  height: 1rem;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.middle {
  display:block;
  margin-inline: auto;
}
.password-info {
  cursor: pointer;
  position: absolute;
  right: -1.7rem;
  border: none;
  background-color:transparent;
}
.c-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-verical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back {
  position: fixed;
  left: 1rem;
  top: 5rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn {
  background-color: var(--accent3);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  color: var(--light);
  padding: .5rem 1.5rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.btn:hover {
  background-color: var(--accent1);
  transition: 0.2s;
}
.btn:active {
  transform: scale(0.9);
  transition: 0.2s;
}
.box {
  background-color: var(--accent-bg);
  color: var(--dark);
  width: fit-content;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box>form {
  margin-top: 1rem;
  position: relative;
}
form>* {
  margin: 1rem 0;
}

/* tooltip (nicht von mir) */
[tooltip] {
  font-family: var(--ff-body);
}
[tooltip]::before,
[tooltip]::after {
  --scale: 0;
  --arrow-size: 20px;

  position: absolute;
  top: -.25rem;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
[tooltip]::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: min-content;
  background: var(--accent);
}
[tooltip]:hover::before,
[tooltip]:hover::after {
  --scale: 1;
}
[tooltip]::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--accent);
  transform-origin: top center;
}

/*  Animationen  */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}